{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# I will install everything locally
# if groups | grep -q '\bsudo\b'; then

mkdir -p "$HOME/.local/bin/"
mkdir -p "$HOME/.local/share/bash-completion/completions/"

if [[ ! -x "$HOME/.local/bin/nvim" ]]; then
	curl -L https://github.com/neovim/neovim/releases/latest/download/nvim.appimage -o "$HOME/.local/bin/nvim"
	chmod 755 "$HOME/.local/bin/nvim"
fi

if [[ ! -x "$HOME/.local/bin/rg" ]]; then
	ripgrep_version=14.1.0
	arch=$(uname -m)
	curdir=$(pwd)
	tempdir=$(mktemp -d)
	cd "$tempdir"
	curl -LO "https://github.com/BurntSushi/ripgrep/releases/download/$ripgrep_version/ripgrep-$ripgrep_version-$arch-unknown-linux-musl.tar.gz"
	tar xf "ripgrep-$ripgrep_version-$arch-unknown-linux-musl.tar.gz"
	cd "ripgrep-$ripgrep_version-$arch-unknown-linux-musl"
	mv rg "$HOME/.local/bin/"
	mv complete/rg.bash "$HOME/.local/share/bash-completion/completions/"
	chmod 755 "$HOME/.local/share/bash-completion/completions/rg.bash"
	cd "$curdir"
	rm -rf "$tempdir"
fi

# TODO: install node
# TODO: install python3

{{/* ------------------------------------------------------------ */ -}}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew install ripgrep node python3

{{/* ------------------------------------------------------------ */ -}}

{{ end -}}

if [[ ! -x "$HOME/.rvm/bin/rvm" ]]; then
	gpg --keyserver keyserver.ubuntu.com --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB
	\curl -sSL https://get.rvm.io | bash
	source /home/amadan/.rvm/scripts/rvm
	rvm install ruby
fi

if [[ ! -d "$HOME/.venv/default" ]] && command -v python3 >/dev/null 2>&1; then
	python3 -m venv "$HOME"/venv/default
fi
